body {
	margin: 0;
	padding: 0;
}

p, li, td, span {
	font-family: Arial;
	color: #444;
}

h1, h2, h4, th, #rating {
	font-family: Arial;
	color: #a68a3d;
	font-weight: bold;
}

p, a, li, td, th, span {
	font-size: 14px;
}

h2 {
	font-variant: small-caps;
	font-size: 18px;
}

h4, #rating {
	font-variant: small-caps;
	font-size: 16px;
}

a {
	text-decoration: none;
	font-family: Arial;
	font-size: 14px;
	color: #3a7699;
}

a:hover {
	color: #b2d6ec;
}

a.headerLink {
	color: #a6563d;
}

a.headerLink:hover {
	color: #bfa39a;
}

table, td, th {
	border: 0;
	text-align: left;
	line-height: 25px;
	vertical-align: top;
}

table.movielist {
	width: 100%;
}

th.title, th.director, th.genre {
	width: 15%;
}

th.country {
	width: 10%;
}

th.year {
	width: 7%;
}

th.leadActors {
	width: 30%;
}

div.reviewHeader {
	margin-bottom: 10px;
}

div.reviewContent {
	margin-bottom: 25px;
}

.buttonForm {
	display: inline-block;
	margin-top: 10px;
}

span.checkboxes {
	float: left;
	width: 200px;
}

/* ---------------- */
#wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}

#content {
	position: absolute;
	width: 100%;
	min-height: 100%;
}

#header {
	position: relative;
	width: 100%;
	height: 100px;
	background-image: url(blue-reel.png);
	background-position: right top;
	background-repeat: no-repeat;
	background-color: #b3d6ec; /* #c3b2ec; #7c8df8; */
}

#footer {
	background: #fff5da;
	position: absolute;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	bottom: 0px;
}

#content-inside {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	min-height: 75px;
}

#header-inside {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

#footer-inside {
	position: relative;
	margin-right: auto;
	margin-left: auto;
	width: 80%;
}

#menu-bar {
	position: relative;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	background: #fff5da;
}

#footer-content {
	position: absolute;
	bottom: 50px;
	margin-right: auto;
	margin-left: auto;
	left: 0;
	right: 0;
	width: 80%;
}

#moviemeter-box {
	text-align: right;
	display: table-cell; 
	vertical-align: top; 
	float: right;
	width: 210px;
	background: #ffe3da;
	border-style: solid;
	border-width: 1px;
	border-color: #a6563d;
	padding: 3px;
}

/* ---------------- */

.favButton {
	cursor:pointer;
    border:none;
    width:36px;
    height:24px;
}

.starButtonInactive {
	cursor:pointer;
    border:none;
    width:16px;
    height:18px;
	background:url(ratingstar-inactive.png) no-repeat;
}

.starButtonActive {
	cursor:pointer;
    border:none;
    width:16px;
    height:18px;
	background:url(ratingstar-active.png) no-repeat;
}

.starButtonDisabled {
    border:none;
    width:16px;
    height:18px;
	background:url(ratingstar-disabled.png) no-repeat;
}

#fav-active {
	background:url(fav-active.png) no-repeat;
}
#fav-inactive {
	background:url(fav-inactive.png) no-repeat;
}
#disfav-active {
	background:url(disfav-active.png) no-repeat;
}
#disfav-inactive {
	background:url(disfav-inactive.png) no-repeat;
}

.error {
	color: #ff0000;
}

.errorblock {
	color: #000;
	background-color: #ffEEEE;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}