<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http auto-config="true" use-expressions="true">
        <access-denied-handler error-page="/accessdenied"/>
        <intercept-url pattern="/addmovie**" access="hasAnyRole('user', 'admin')"/>
        <intercept-url pattern="/displaypendingmovie**" access="hasAnyRole('user', 'admin')"/>
        <intercept-url pattern="/pendingandrejected**" access="hasAnyRole('user', 'admin')"/>
        <intercept-url pattern="/moviestovalidate**" access="hasRole('admin')"/>
        <intercept-url pattern="/displaymovietovalidate**" access="hasRole('admin')"/>
        <intercept-url pattern="/celebritiestovalidate**" access="hasRole('admin')"/>
        <intercept-url pattern="/displaypendingcelebrity**" access="hasRole('admin')"/>
        <form-login login-page="/accessdenied" username-parameter="username" always-use-default-target="false"
                    password-parameter="password" authentication-success-handler-ref="feedSuccessHandler"
                    authentication-failure-handler-ref="feedFailureHandler"/>
    </http>

    <beans:bean id="feedSuccessHandler" class="com.megagigasolusindo.movie.utils.FeedSuccessHandler"/>

    <beans:bean id="feedFailureHandler" class="com.megagigasolusindo.movie.utils.FeedFailureHandler"/>

    <authentication-manager>
        <authentication-provider>
            <jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="select username, password, enabled from user where username=?"
                               authorities-by-username-query="select username, role from user where username=?"/>
        </authentication-provider>
    </authentication-manager>

</beans:beans>